MONGODB_URI=mongodb://tarunbommalidev_db_user:Bommali2001@ac-vsc0czd-shard-00-00.obuydqi.mongodb.net:27017,ac-vsc0czd-shard-00-01.obuydqi.mongodb.net:27017,ac-vsc0czd-shard-00-02.obuydqi.mongodb.net:27017/hostel_db?ssl=true&replicaSet=atlas-13s3qr-shard-0&authSource=admin&appName=ClusterServer
JWT_SECRET=admin
PORT=5000

# Admin Seeding Credentials
ADMIN_EMAIL=admin@hostel.edu
ADMIN_PASSWORD=Admin#123
ADMIN_FIRST_NAME=Tarun
ADMIN_LAST_NAME=Bommali
